* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.max-w-full{
    max-width: 100%;
    overflow-x: auto;
} 
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.text-overflow-ellipsis{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.outline-none {
    outline: none;
    box-shadow: none;
}

.outline-none:hover,
:focus,
:active {
    outline: none;
    box-shadow: none !important;
}

.max-width-400 {
    max-width: 400px;
}

body {
    background-color: #000000;
}

.bg-light-dark {

    background-color: #2A272A;
    padding: 20px 30px;
    border-radius: 20px;
    height: 100%;
    max-height: 100%;
}
.social_icons{
    border: 1px solid #6D7EAC; 
    border-radius: 10px; 
    padding: 6px 10px;
}
.social_links{
    font-size: 12px;
    max-width: 90%;
    overflow-x: hidden;
}

.contentDiv {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    padding: 10px 0px;
    width: 100%;
    max-height: 490px;
    overflow-y: auto;
}

.repo {
   
    max-width: 300px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    height: fit-content;
}



/* loader */

.loader-div{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f196;
    z-index: 99;
}
.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}


@media (max-width:500px) {
    .contentDiv{
        justify-content: center;
    }
    .repo{
        max-width: 100%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}